.fixed-nav-bar {
  background-color: white;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.logo-img {
  width: 60px;
  height: 60px;
  float: left;
  margin-left: 40px;
}

.logo-img:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.7 !important;
  filter: alpha(opacity=70) !important; /* For IE8 and earlier */
  box-shadow: 0 0 0px #000000 !important;
}

.login-signup {
  float: right;
  vertical-align: middle;
  margin-top: 20px;
}

.login-logout {
  margin-right: 35px;
  text-decoration: none;
  color: #21ce99;
  font-family: "Noto Sans", sans-serif;
}

.login-logout-button:hover {
  cursor: pointer;
}

.login-logout-button:active,
.login-logout-button:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.login-logout:hover {
  color: #1ae9aa;
}

.hero-section {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
}

.hero-text {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
}

.hero-visual {
  margin-right: 100px;
}

.hero-content {
  vertical-align: middle;
  margin-left: 50px;
  margin-top: 100px;
}

.hero-description {
  font-family: "Open Sans", sans-serif;
}

.hero-button {
  margin-top: 30px;
  width: 88px;
  height: 48px;
  color: white;
  background-color: #21ce99;
  font-family: "Noto Sans", sans-serif;
  border-radius: 7px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #1ae9aa;
}

.hero-img {
  width: 260px;
  height: 520px;
}

.free-text {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
}

.free-content {
  margin-top: 75px;
}
.free-description {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.free-section {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.free-img {
  height: 520px;
  width: 345px;
}

.design-section {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.design-img {
  width: 800px;
  height: 800px;
  margin-right: -500px;
}

.design-content {
  margin-top: 100px;
  margin-left: 30px;
}

.design-text {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
}

.design-description {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.design-testimony {
  background-image: url("/assets/images/trade_testimony_2.png");
}

.quote-image {
  width: 13px;
  height: 10px;
}

.testimony-text {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: gray;
}

.author-name {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: gray;
  font-weight: bolder;
}

.security-section {
  margin-top: 50px;
  text-align: center;
  height: 800px;
  padding-top: 350px;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.security-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.security-text {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  color: white;
}

.security-description {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white;
}

.footer-icon {
  max-height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

footer {
  text-align: center;
}

.footer-text {
  margin-top: 40px;
  margin-bottom: 40px;
  color: gray;
  font-family: "Noto Sans", sans-serif;
}

hr {
  width: 70%;
}

.black {
  background-color: rgb(4, 13, 20);
}

.lock-icon {
  max-height: 61px;
}

.free-content {
  visibility: hidden;
}

#seen {
  visibility: visible;
}

#unseen {
  visibility: hidden;
}

.design-content {
  visibility: hidden;
}
