.home-chart-view {
  float: left;
  width: 676px;
  margin-top: 70px;
  margin-left: 30px;
  text-align: left;
  display: block;
  height: 350px;
}

.home-port-value {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  margin-left: 60px;
  font-weight: 100;
  margin-bottom: 10px;
}

.home-daily-gain {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  margin-left: 65px;
  font-weight: 100;
  margin-top: 0px;
}

.top-movers-section {
  display: block;
  margin-top: 60vh;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 21px;
  float: left;
  text-align: left;
  position: absolute;
  left: 100px;
}

.home-chart-container {
  height: 80%;
}

.chartjs-render-monitor {
  margin-left: 50px;
  height: 275px;
}
