.img-container {
  width: 50%;
  height: 100%;
}

.login-image {
  max-width: 100%;
  max-height: 100%;
}

.login-form-box {
  width: 50%;
  height: 100%;
  margin-left: 50px;
  margin-top: 120px;
}

.login-form-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.login-header {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
}

.email-text {
  font-family: "Poppins", sans-serif;
  margin-bottom: 130px;
}

.password-text {
  font-family: "Poppins", sans-serif;
  margin-bottom: 130px;
}

.login-input {
  width: 70%;
  height: 48px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #fafafa;
  padding-left: 20px;
  font-size: 17px;
}

.login-input:hover {
  border-color: #cbcbcd;
}

.login-input:focus {
  border-color: #21ce99;
  outline: none;
}

.login-submit {
  width: 140px;
  height: 48px;
  background-color: #21ce99;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.login-submit:hover {
  background-color: #1ae9aa;
}

.demo-link {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  color: #21ce99;
}

.demo-link:hover {
  color: #1ae9aa;
}

.demo-button {
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  border: none;
  color: #21ce99;
  font-size: 15px;
}

.demo-button:hover {
  color: #1ae9aa;
}

.error-list li {
  display: inline;
  padding-right: 6px;
  padding-left: 25px;
}

.error-list .error-text {
  background-image: url("http://icons.iconarchive.com/icons/custom-icon-design/mono-general-1/512/alert-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Source Sans Pro", sans-serif;
}
