.logo-container {
  display: block;
  height: 70px;
  margin-bottom: 40px;
  margin-left: 60px;
}

.signup-form {
  text-align: center;
}

.signup-content {
  display: flex;
  justify-content: space-around;
}

.signup-form-box {
  width: 40%;
  margin-left: 60px;
}

.signup-header {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: lighter;
}

.signup-description {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

.signup-text-box {
  margin-left: 100px;
}

.name-inputs {
  width: 99%;
  display: flex;
  justify-content: space-between;
}

.login-link-text {
  font-family: "Source Sans Pro", sans-serif;
  margin-right: 5px;
}

.signup-first-name-input {
  width: 42%;
  left: 0px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #fafafa;
  padding-left: 20px;
  font-size: 17px;
}

.signup-first-name-input:hover {
  border-color: #cbcbcd;
}

.signup-first-name-input:focus {
  border-color: #21ce99;
  outline: none;
}

.signup-last-name-input:hover {
  border-color: #cbcbcd;
}

.signup-last-name-input:focus {
  border-color: #21ce99;
  outline: none;
}
.signup-last-name-input {
  width: 42%;
  right: 0px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #fafafa;
  padding-left: 20px;
  font-size: 17px;
}

.signup-email-input:hover {
  border-color: #cbcbcd;
}

.signup-email-input:focus {
  border-color: #21ce99;
  outline: none;
}

.signup-email-input {
  width: 95%;
  height: 48px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #fafafa;
  padding-left: 20px;
  font-size: 17px;
}

.signup-password-input {
  width: 95%;
  height: 48px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #fafafa;
  padding-left: 20px;
  font-size: 17px;
}
.signup-password-input:hover {
  border-color: #cbcbcd;
}

.signup-password-input:focus {
  border-color: #21ce99;
  outline: none;
}

.session-submit {
  width: 100%;
  height: 48px;
  background-color: #21ce99;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.session-submit:hover {
  background-color: #1ae9aa;
}

.signup-visual-box {
  width: 50%;
  margin-top: 160px;
}

.signup-gif {
  width: 400px;
  position: fixed;
  bottom: 0px;
}
